/* 1. Colors _Pro-tip: Use the [Eye Dropper](https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka) Chrome extension to find the colors used on web pages._
   * Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

2. Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.

3. Profile Image Found on `index.html`:
   * Use a picture of yourself.
   * If you don't have a picture, you can grab a placeholder image from [LoremPixel](http://lorempixel.com/). Save the images to your `images` folder.

4. Portfolio Images:
   * Placeholder images can be found at [LoremPixel](http://lorempixel.com/).
   * Save the images to your `images` folder.

5. Background Images:
   * The background pattern used was found on [Subtle Patterns](https://subtlepatterns.com/). You can browse through that site and find whichever pattern you like.

6. Dimensions:
   * The entire content and the main section content area is `960px` wide.
   * Pro-tip: Use the [Page Ruler](https://chrome.google.com/webstore/detail/page-ruler/jlpkojjdgbllmedoapgfodplfhcbnbpn/related?hl=en) extension to measure the size of elements.

   ![Recommended Dimensions](Images/Recommended-Dimensions.png) */


/* HEADER */
header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    padding-left: 20%;
}

#name {
    background-color:#4aaaa5;
    padding: 20px;
    color: white;
    float: left;
    margin: 0;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

nav {
    float: left;
    padding-left: 400px;
}

nav li {
    display: inline-block;
    padding-top: 10px;
}

li a {
    padding: 20px;
    text-decoration: none;
    color: #777777;
}

li:nth-child(2) {
    border-left: 1px solid #cccccc;
    border-right: 1px solid  #cccccc;
    padding-top: .25px;
}

nav a:hover {
    color: #4aaaa5;
}
/* HEADER END*/

/* FOOTER */
footer {
    background-color: #666666;
    border-top: 7px solid #4aaaa5;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    /* position: fixed; */
    bottom: 0;
}

.copyright {
    text-align: center;
    padding: 20px 0 1px 0;
    color: #ffffff;
    font-size: .6em;
}
/* FOOTER END */

/* BODY */
body {
    margin: 0 auto;
    background-image: url("../images/dust_scratches.png");
}

.bd_container {
    border: 1px solid #dddddd;
    margin: 2% 20% 10% 20%;
    background-color: #ffffff
}
.about h1 {
    color: #4aaaa5;
    padding-left: 3%;
}

.about hr {
    max-width: 93.5%;
    border-top: 2px solid #dddddd;
    color: #dddddd;
}

img {
    padding: 1% 3% 0 3%;
    float: left;
}

p {
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 3% 0 3%;
}

.body {
    padding: 0 3% 0 3%;
}

/* CONTACT PAGE */
label {
    color: black;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=subject], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    height: 200px;
}

input[type=submit] {
    color: white;
    background-color: #4aaaa5;
    border: none;
    padding: 1% 3%;
}

.content {
    margin: 0 3% 2% 3%;
}
/* CONTACT PAGE END */

/* PORTFOLIO */
.row {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }
  
.column  {
    text-align: center;
    /* padding: 20px 0; */
    font-size: 30px;
    /* height: 100px;
    width: 100px; */
    /* position: relative; */
  }
.portfolio_image {
    width: 250px;
    height: 250px;
    margin-bottom: 10%;
    position: relative;
}

.img-box::after {
  content: "";
  clear: both;
  display: table;
}
.img-box {
    position: relative;

}
#banner {
    position: absolute; 
    /* float: left; */
    left: 12px;
    bottom: 14%;
    color: #ffffff;
    background-color: #4aaaa5;
    height: 30px;
    width: 53.5%;  
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
}
  /* PORTFOLIO END */

 @media all and (max-width: 1156px) {

    nav {
        padding-left: 100px;
}

 @media all and (max-width: 825px) {

    .bd_container {
        width: 100%;
        margin: 0 0 10% 0;
    }

    header {
        padding-left: 0;
        background-color: #4aaaa5;
    }

    nav {
        padding-left: 0;
        width: 100%;
    }

    ul {
        padding-left: 0;
    }

    #name {
        width: 100%;
        margin: 0 auto;
        align-content: center;
        color: #ffffff;
    }

    li a {
        color: #ffffff;
        font-size: large;
    }

 @media all and (max-width: 625px) {

    header {
        background-color: #4aaaa5;
    }

    .bd_container, .container {
        width: 100%;
        margin: 0 0 10% 0;
    }

    .row {
        display: inline-block;
    }

    nav {
        padding-left: 0;
        width: 100%;
    }

    ul {
        padding-left: 0;
    }
 }